{% extends '_layout.html' %}

{% block title %}Movie Rating App | Create Movie Rating{% endblock %}

{% block body %}
<h1 class="mb-5">Create Movie Rating</h1>
<p class="mb-3">Create a movie rating below</p>
<!-- TODO: Feature 2 -->
<!-- Implement the following: Form that inputs movie name, director, and 1-5 rating -->
<form action="/movies" method="POST">
    <!-- Input Movie Name -->
    <div class="form-group">
        <label for="movie_name">Movie Name</label>
        <input type="text" class="form-control" id="movie_name" name="movie_name" placeholder="Enter Movie Name" required>
    </div>
    <!-- Input Movie Director Name -->
    <div class="form-group">
        <label for="director_name">Director Name</label>
        <input type="text" class="form-control" id="director_name" name="director_name" placeholder="Enter Director Name" required>
    <!-- Input Movie Rating (1-5) -->
    <div class="form-group">
        <label for="rating">Rating</label>
        <input type="number" class="form-control" id="rating" name="rating" placeholder="Enter Rating (1-5)" min="1" max="5" required>
    </div>
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>"
{% endblock %}
